@import '../../../styles/helper/functions';
@import '../../../styles/helper/mixins';
@import '../../../styles/helper/variable';

// FORM STYLING
@mixin form--styling {
    form {
        @include secondary--font($size: 1em);

        input[type='text'],
        input[type='email'],
        input[type='password'],
        textarea {
            @include secondary--font($size: 1em);

            width: 100%;
            padding: 1em;

            border: 2px solid $shadedBlack;
            border-radius: 4px;

            margin-top: 6px;
            margin-bottom: 16px;
            resize: vertical;

            &:active,
            &:focus {
                transition: all 0.2s;
                border: solid 2px $secondaryColor;
            }

            &:invalid {
                box-shadow: none;
                border-color: none;
            }
        }
    }
}