@import url('https://fonts.googleapis.com/css?family=Abel|Crimson+Text|Fjalla+One&display=swap');
@import './helper/variable';
@import './helper/mixins';
@import './helper/functions';

body {
    box-sizing: border-box;
    margin: 0 auto;
    padding: auto;

    background-color: #fff;

    @include primary--font($color: $black, $size: 1em);
}

// Typography
@import './components/typography/typography';
@include remove--default-style;
@include text--styling;

// Flex Arrangement
.justify-content-between {
    justify-content: space-between;
}

.justify-content-around {
    justify-content: space-around;
}

.justify-content-evenly {
    justify-content: space-evenly;
}

// Navbar
@import './components/navbar/navbar';
@include navbar-primary;

// Forms
@import './components/forms/forms';
@include form--styling;