@import url("https://fonts.googleapis.com/css?family=Abel|Crimson+Text|Fjalla+One&display=swap");
@import url("https://fonts.googleapis.com/css?family=Fjalla+One|Noto+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Fjalla+One|Noto+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Fjalla+One|Noto+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Fjalla+One|Noto+Sans&display=swap");
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  padding: auto;
  background-color: #fff;
  font-family: 'Fjalla One', sans-serif;
  color: #0e1111;
  font-size: 1em;
}

ul {
  list-style-type: none;
}

a:link {
  text-decoration: none;
}

mark {
  background-color: #c4f1be;
}

strong {
  font-family: 'Fjalla One', sans-serif;
  font-size: 1.15em;
  font-weight: bold;
}

em {
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.1em;
}

p {
  font-family: 'Noto Sans', sans-serif;
  font-size: 1em;
}

code {
  font-family: 'Noto Sans', sans-serif;
  color: #666;
  font-size: 0.8em;
  font-weight: 600;
  background: #d4d1d1;
  border-left: 3px solid #525b76;
  border-radius: 5px;
  margin-top: 1.6em;
  margin-bottom: 1em;
  padding: 20px;
  max-width: 100%;
  overflow: auto;
  display: block;
}

blockquote {
  font-family: 'Noto Sans', sans-serif;
  color: #666;
  font-size: 1.2em;
  line-height: 1.6;
  font-style: italic;
  width: 60%;
  margin: 50px auto;
  padding: 1.2em 30px 1.2em 75px;
  border-left: 8px solid #525b76;
  border-radius: 15px;
  position: relative;
  background: #d4d1d1;
}

blockquote::before {
  font-family: Arial;
  content: '\201C';
  color: #525b76;
  font-size: 4em;
  position: absolute;
  left: 10px;
  top: -10px;
}

blockquote::after {
  content: '';
}

blockquote cite {
  display: block;
  color: #869d96;
  font-style: italic;
  margin-top: 1em;
}

hr {
  border: 0;
  border-radius: 2px;
  height: 4px;
  background-color: #869d96;
}

a {
  color: #525b76;
  font-family: 'Noto Sans', sans-serif;
  font-size: 1em;
  font-weight: 600;
}

a:hover {
  -webkit-transition: 0.4s all;
  transition: 0.4s all;
  color: #201e50;
}

h1 {
  font-size: 4.58333em;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 1.71875em;
}

h4 {
  font-size: 1.30952em;
}

h5 {
  font-size: 1.05769em;
}

h6 {
  font-size: 0.8871em;
}

.text-muted {
  font-family: 'Noto Sans', sans-serif;
  color: #666;
  font-size: 1em;
  font-weight: 400;
}

.justify-content-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.justify-content-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.justify-content-evenly {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.navbar-primary {
  background-color: #525b76;
  color: #d4d1d1;
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-primary .logo {
  font-family: 'Fjalla One', sans-serif;
  color: #d4d1d1;
  font-size: 2em;
  letter-spacing: 3;
}

.navbar-primary .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar-primary .menu .menu-item {
  font-family: 'Noto Sans', sans-serif;
  color: #d4d1d1;
  font-size: 1.2em;
  letter-spacing: 3;
  margin: 10px;
}

.navbar-primary .menu .menu-item:hover {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #a2c3a4;
  cursor: pointer;
}

form {
  font-family: 'Noto Sans', sans-serif;
  font-size: 1em;
}
/*# sourceMappingURL=simple.css.map */