@import '../helper/functions';
@import '../helper/variable';

// FONTS
@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Noto+Sans&display=swap');

@mixin primary--font($color: false, $size: false, $weight: false, $lh: false, $ls: false) {
    font-family: 'Fjalla One', sans-serif;

    @if $color {
        color: $color;
    }

    @if $size {
        font-size: $size;
    }

    @if $weight {
        font-weight: $weight;
    }

    @if $lh {
        line-height: $lh;
    }

    @if $ls {
        letter-spacing: $ls;
    }
}

@mixin secondary--font($color: false, $size: false, $weight: false, $lh: false, $ls: false) {
    font-family: 'Noto Sans', sans-serif;


    @if $color {
        color: $color;
    }

    @if $size {
        font-size: $size;
    }

    @if $weight {
        font-weight: $weight;
    }

    @if $lh {
        line-height: $lh;
    }

    @if $ls {
        letter-spacing: $ls;
    }
}