$primaryColor: #525b76;
$secondaryColor: #a2c3a4;
$darkPrimary: #201e50;
$darkSecondary: #869d96;
$lightSecondary: #c4f1be;
$white: #d4d1d1;
$shadedWhite: #f1e8dc;
$black: #0e1111;
$shadedBlack: #616161;