$primaryColor: #6a7699;
$secondaryColor: #a2c3a4;
$darkPrimary: #5e6988;
$lightPrimary: #808db4;
$darkSecondary: #98b99a;
$lightSecondary: #c4f1be;
$white: #d4d1d1;
$shadedWhite: #f1e8dc;
$black: #0e1111;
$shadedBlack: #616161;
$grey: #b4b3b3;